extends base
block sidebar 
    .sidebar
        .sidebar__brand 
            h2 
                span.las.la-accusoft 
                span DD Centre
        .sidebar__container 
            .user 
                span.user__image 
                span.user__details 
                    h2=user.name
                    small Doctor
            ul 
                li 
                    a(href="/dashboard" )
                        span.las.la-igloo 
                        span Appointments

                li 
                    a(href="/patients")
                        span.las.la-igloo 
                        span Patients 
                li 
                    a(href="/reports" class="")
                        span.las.la-igloo 
                        span Reports 
                li 
                    a(href="#" class="active")
                        span.las.la-igloo 
                        span Pescriptions
                li 
                    a(href="/revenues" class="")
                        span.las.la-igloo 
                        span Revenues 
                li 
                    a(href="/settings" class="")
                        span.las.la-igloo 
                        span Settings 
                li 
                    a(href="/analytics" class="")
                        span.las.la-igloo 
                        span Analytics
                
                
                
block contents
    .main 
        .main__bar
            .title__bar 
                h1 Patient's Pescriptions
            .activity__bar 
                .search 
                    span search here
                ul 
                    li 
                        a(href='#' class="active") Today
                    li 
                        a(href='#') All
                    
                

        .main__content 
            .content-table
                .table-title 
                    h2 Patient Wise pescriptions
                  
                        
                        
                table 
                    thead 
                        tr 
                            th No.
                            th Patient Name 
                            th Doctor Name
                            th Status 
                            th Activity       
                    tbody 
                        tr 
                            td 1
                            td Dimbeswar
                            td Dr. Ratneswar 
                            td Pending
                            td   
                               
                                a(href="#")     
                                    button(onClick="document.getElementById('modal-pescribe').style.display='block'").btn.btn--primary Pescriptions
                                    
                                    
                    
                            
block modal-pescribe
    .form-heading 
        h2 Modal pescribe
        span(onClick="document.getElementById('modal-pescribe').style.display='none'").las.la-times#btn--close 
    .pescribe-wrapper
        .pescribe-header
            .header-logo
                img(src="/img/logo-doctor.svg", alt="")
            .header-details
                h2 Dr. Ratneswar
                span Chamber 
                span Address: XXX,XXXX,XXX 
                span Number: XXXXXXX90
        .pescribe-section 
            .pescribe-sidebar 
                .pescribe-description
                    h2 Symtoms 
                    h3 1. Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    h3 1. Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                .pescribe-description 
                    h2 Tests
                    h3 1. Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    h3 1. Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                .pescribe-description
                    h2 Advice 
                    h3 1. Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    h3 1. Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            .pescribe-main
                span 
                    h1 Rx
                
                .pescribe-main-content
                    span.medicine 
                        h3 1. incididunt ut labore et dolore magna aliqua.ipisicing elit,
                        h3 2. incididunt ut labore et dolore magna aliqua.ipisicing elit ,
                        h3 3. incididunt ut labore et dolore magna aliqua.ipisicing elit,

    //- .form-title 
    //-     h2 Patient Details
    //- form.form-category
    
    //-     .form__fields 
    //-         label Phone Number
    //-         input(type="number").form__control#name
    //-     .form__fields 
    //-         label Name 
    //-         input(type="text").form__control#name 
    //-     .form__fields 
    //-         label Age 
    //-         input(type="number").form__control#name 
    //-     .form__fields 
    //-         label DOB 
    //-         input(type="date").form__control#name 
    //-     .form__fields 
    //-         label Address
    //-         input(type="address").form__control#name 
    //-     .form__fields 
    //-         label Pin 
    //-         input(type="number").form__control#name 
        
        
    //- .form-title 
    //-     h2 Appointment Details
    //- form.form-category
    
        .form__fields 
            label Doctor Name
            label Dr Ratneswar
        .form__fields 
            label Appointment Date 
            label 2022-09-02
        .form__fields 
            label Appointment Day 
            label Sunday
        .form__fields 
            label Timing 
            label 12:00 PM - 3.00 PM
        .form__fields 
            label Reason for appointment 
            input(type="text").form__control#name
        
        .btn__fields 
            input(type="submit" value="Close").btn.btn--primary
            input(type="submit" value="Book").btn.btn--secondary
            

