extends base
block admin 
    .index-header 
        .texts 
            h1.texts__one Stay conscious about your health
            span.texts__two We are here to serve you
            span.btn-book 
                a(href="/login")  Book an Appointment 

            

