extends base
block sidebar 
    .sidebar
        .sidebar__brand 
            h2 
                span.las.la-accusoft 
                span DD Centre
        .sidebar__container 
            .user 
                span.user__image 
                span.user__details 
                    h2=user.name
                    small Receptionist
            ul 
                li 
                    a(href="/dashboard" )
                        span.las.la-igloo 
                        span Appointments

                li 
                    a(href="/patients")
                        span.las.la-igloo 
                        span Patients 
                li 
                    a(href="/reports" class="")
                        span.las.la-igloo 
                        span Reports 
                li 
                    a(href="/pescriptions" class="")
                        span.las.la-igloo 
                        span Pescriptions
                li 
                    a(href="#" class="active")
                        span.las.la-igloo 
                        span Bills
                
                
block contents
    .main 
        .main__bar
            .title__bar 
                h1 Billings
            .activity__bar 
                .search 
                    span search here
                ul 
                    li 
                        a(href='#'  class="active") Today
                    li 
                        a(href='#') All
                    
                

        .main__content 
            .content-table
                .table-title 
                    h2 Invoice 
                    span 
                        button All
                        button Paid 
                        button Pending
                        
                        
                table 
                    thead 
                        tr 
                            th No.
                            th Patient Name 
                            th Doctor Name
                            th Status 
                            th Activity       
                    tbody 
                        tr 
                            td 1
                            td Dimbeswar
                            td Dr. Ratneswar 
                            td Pending
                            td   
                                a(href="#")     
                                    button(onClick="document.getElementById('modal-appoint').style.display='block'").btn.btn--primary Invoice
                                
                                    
                                    
                    
                            
block modal-appoint
    .form-heading 
        h2 Invoice
        span(onClick="document.getElementById('modal-appoint').style.display='none'").las.la-times#btn--close 
    .pescribe-wrapper
        