<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <div class="sidebar__brand">
                <h2>
                    <span class="lab la-accusoft"></span>
                    <span>Ecommerce</span>
                </h2>
            </div>
            <div class="sidebar__container">
                <div class="user">
                    <span class="user__image">I</span>
                    <div class="user__details">
                        <h2>Ratneswar</h2>
                        <small>Super Admin</small>
                    </div>
                </div>
                <ul>
                    <li><a href="../index.html"><span class="las la-igloo"></span><span>Dashboard</span></a></li>
                    
                    <li><a href="./products.html" ><span class="las la-igloo"></span><span>Products</span></a></li>
                    <li><a href="#" class="active"><span class="las la-igloo"></span><span>Configuration</span></a></li>
                    <li><a href="#" class=""><span class="las la-igloo"></span><span>Category</span></a></li>
                    <li><a href="#" class=""><span class="las la-igloo"></span><span>Settings</span></a></li>
                    <li><a href="#" class=""><span class="las la-igloo"></span><span>Accounts</span></a></li>
                    <li><a href="#" class=""><span class="las la-igloo"></span><span>Users</span></a></li>
                </ul>

            </div>
        </div>
        <div class="section">
            <div class="header-container">
                <header class="header">
                    <div class="header__title">
                        <h2>
                            <span class="las la-bars"></span>
                            <span>Dashboard</span>
                        </h2>
                    </div>
                    <div class="header__content">

                        <span class="header__content--image"></span>
                        <div class="header__content--user">
                            <h4>Ratneswar</h4>
                            <small>Super Admin</small>
                        </div>

                    </div>
                </header>
            </div>
            <div class="main">
                <div class="main__bar">
                    <div class="title__bar">
                        <h1>Configuration</h1>
                    </div>
                    <div class="activity__bar">
                        <ul>
                            <li><a href="./_category.html" class="active">Category</a></li>
                            <li><a href="./_subcategory.html" class="">sub-category</a></li>
                            <li><a href="./_brand.html" class="">brand</a></li>
                            <li><a href="./_store.html" class="">store</a></li>
                            <li><a href="./products.html" class="">products</a></li>
                        </ul>
                        <div class="btn">
                            <button onclick="document.getElementById('modal').style.display='block'">Add Category</button>
                            <!-- <button>back</button> -->
                        </div>
                    </div>
                </div>
                <div class="main__content">
                    <div class="content-table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Sl No</th>
                        
                        
                                    <th>name</th>
                        
                        
                                    <th>status</th>
                        
                        
                                    <th>activity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                        
                        
                                    <td>Grocery</td>
                        
                        
                                    <td>active</td>
                        
                        
                                    <td><button class="btn btn--primary">Edit</button><button class="btn btn--secondary">Delete</button></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>2</td>
                        
                        
                                    <td>Vegitables</td>
                        
                        
                                    <td>active</td>
                        
                        
                                    <td><button class="btn btn--primary">Edit</button><button class="btn btn--secondary">Delete</button></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>3</td>
                        
                        
                                    <td>Cosmatics</td>
                        
                        
                                    <td>active</td>
                        
                        
                                    <td><button class="btn btn--primary">Edit</button><button class="btn btn--secondary">Delete</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal">
            <div class="content-table animate">
                <div class="form-heading">
                    <h2>New Category</h2>
                    <span class="las la-times" onclick="document.getElementById('modal').style.display='none'"></span>
                </div>
                <form action="">
                    <div class="form__fields">
                        <label for="">Name</label>
                        <input type="text" class="form__control">
                    </div>
                    <div class="form__fields">
                        <label for="">Local Name</label>
                        <input type="text" class="form__control">
                    </div>
                    
                    <div class="form__fields">
                        <label for="">Status</label>
                        <div class="option__control">
                            <input type="radio" class="">
                            <label for="">Active</label>
                             <input type="radio" class="">
                            <label for="">Deactive</label>
                        </div>
                    </div>
                    <div class="form__fields">
                        <label for="">Category Image</label>
                        <input type="file" class="option__control">
                    </div>
                    <div class="btn__fields">
                        
                        <input type="submit" class="btn btn--primary" value="cancel">
                        <input type="submit" class="btn btn--secondary" value="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="" async defer></script>
</body>

</html>